kind: Deployment
apiVersion: apps/v1
metadata:
  name: stock-quote-quarkus
  labels:
    app: stock-quote-quarkus
    deployer: argocd
    release: 0.0.12
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stock-quote-quarkus
  template:
    metadata:
      labels:
        app: stock-quote-quarkus
    spec:
      containers:
        - name: stock-quote-quarkus
          image: image-registry.openshift-image-registry.svc:5000/stock-quote-quarkus/stock-quote-quarkus:basic-auth
          ports:
            - containerPort: 9080
              protocol: TCP
          env:
            - name: TEST_ENV
              value: 'simple pipeline'
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: redis.url
            - name: MP_JWT_VERIFY_PUBLICKEY
              valueFrom:
                configMapKeyRef:
                  name: jwt-config
                  key: jwt-ca.crt
            - name: MP_JWT_VERIFY_ISSUER
              valueFrom:
                configMapKeyRef:
                  name: jwt-config
                  key: mp.jwt.verify.issuer
            - name: SMALLRYE_JWT_VERIFY_AUD
              valueFrom:
                configMapKeyRef:
                  name: jwt-config
                  key: smallrye.jwt.verify.aud                  
                  
---
kind: Service
apiVersion: v1
metadata:
  name: stock-quote-quarkus
  labels:
    app: stock-quote-quarkus
spec:
  ports:
    - name: 9080-tcp
      protocol: TCP
      port: 9080
      targetPort: 9080
  selector:
    app: stock-quote-quarkus
    
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: stock-quote-quarkus
  labels:
    app: stock-quote-quarkus
spec:
  to:
    kind: Service
    name: stock-quote-quarkus
  port:
    targetPort: 9080-tcp
 
